body {
    font-family: sans-serif;
    background-image: url(http://getwallpapers.com/wallpaper/full/a/c/6/272622.jpg)
  }
  .left {
    width: 700px;
    float:left;
  }
  .right{
    width: 350px;
    float: right;
    border: 4px solid pink;
    padding: 15px;
    font-size: 15px;
    
  }
  h1 {
    font-size: 50px;
  }